{% extends 'base.html' %} {% block title %}

<div>
    <h1>Tracks List</h1>
</div>

{% endblock %} {% block content %}
<div>
    <a href="{% url 'track_create' %}">Create</a>
</div>

<table width="100%" border="1px solid #000">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for track in tracks %}
        <tr>
            <td>{{track.id}}</td>
            <td>{{track.name}}</td>
            <td>{{track.description}}</td>
            <td>{{track.image}}</td>
            <td>
                <a href="{%url 'track_details' track.id%}">Details</a>
                <a href="{%url 'track_update' track.id%}">Update</a>
                {% comment %}
                <a href="{%url 'track_delete' track.id%}">Delete</a>
                {% endcomment %}
                <button class="delete-btn" data-id="{{ track.id }}">
                    Delete
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
