<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />

        <title>{% block pagetitle %} {% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'account_list' %}">account list</a>
                        </li>
                        <li>
                            <a href="{% url 'track_list' %}">track list</a>
                        </li>
                        <li>
                            <a href="{% url 'trainee_list' %}">trainee list</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <section class="px-5">
                {% block title %} {% endblock %} {% comment %} {% endcomment %}
                {% block content %} {% endblock %}
            </section>
        </main>

        {% comment %} script {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".delete-btn").click(function () {
                    var trackId = $(this).data("id");
                    var row = $("#track-" + trackId);

                    if (
                        confirm("Are you sure you want to delete this track?")
                    ) {
                        $.ajax({
                            url: "/Track/Delete/" + trackId,
                            type: "POST",
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                            },
                            success: function (response) {
                                if (response.success) {
                                    row.remove();
                                } else {
                                    alert(response.error || "Error occurred.");
                                }
                            },
                            error: function () {
                                alert("Error: Unable to delete the track.");
                            },
                        });
                    }
                });
            });
        </script>
    </body>
</html>
